img {
  width: 100%;
  /* height: 100%;
  object-fit: cover; */
}

.login-container,
.register-container {
  height: 100vh;
}

#Login_Main_Container .con-img {
  width: 200px;
  margin: 0 auto;
}

#Register_Main_Container .bg-transparent.justify-content-between {
  padding-left: 60px;
  padding-right: 60px;
}

#Register_Main_Container .con-img {
  width: 200px;
  /* margin: 0 auto; */
}